body {
  font-family: Roboto, arial, sans-serif;
}

.badge {
  width: 30px;
  height: 30px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	padding-left: 1em;
	text-indent: -.7em;
}

li:before {
	content: "› "
}
