<ol>
	<% for ( var i = 0, l = posts.length; i < l; i++ ) { %>
	<li>
	<a href="/post/<%- i %>">edit</a>
	<%- posts[i].title %>
	</li>
	<% } %>
</ol>
<div>
	<form name="post" action="/save" method="POST">
		Title: <input name="title" type="text" /><br>
		Body: <textarea width="300px" height="400px" name="body"></textarea>
		<input type="submit" value="Save"/>
	</form>
</div>
