<html ng-app>
<head>
	<title>Bold Daemon</title>
	<link href="components/bootstrap/css/bootstrap.css" rel="stylesheet">
	<script src="bower_components/angular/angular.min.js"></script>
	<script>
		function get($scope, $http, url, name) {
			if (name === 'posts') {
				$scope[name] = $http.jsonp( url ).success(function(d,s) {
					if ( d.error ) {
						$http.get( 'cache/posts.json' ).success( function( d, s ) {
							$scope[name] = d;
						});
					} else {
						$scope[name] = d;
					}
				});
			} else  {
				$http.get( url ).success( function( d, s ) {
						// check for failure and load cached data here.
					$scope[name] = d;
				});
			}
		}

		function repoCtrl($scope, $http) {
			get($scope, $http, 'https://api.github.com/users/qbit/repos?sort=updated', 'repos');
		}
		function gistCtrl($scope, $http) {
			get($scope, $http, 'https://api.github.com/users/qbit/gists', 'gists');
		}

		function dataCtrl($scope, $http) {
			$scope.processAttachment = function(att) {
				console.log(att);
			}
			get($scope, $http, 'components/bolddaemon/categories.json', 'categories');
			get($scope, $http, 'https://www.googleapis.com/plus/v1/people/108155057102084949527/activities/public?key=AIzaSyCb1HIajl9nArJU4EnLmfFqt2jIcK-K19E&callback=JSON_CALLBACK', 'posts');

			$scope.setSearch = function(cat) {
				$scope.search = cat.name;
			};
		}

		function cwCtrl($scope, $http) {
			$http.jsonp( 'https://coderwall.com/qbit.json?callback=JSON_CALLBACK' ).success( function( d, s ) {
				$scope.badges = d.data.badges;
			});
		}

	</script>
	<style>
		body {
		  font-family: Roboto, arial, sans-serif;
		}

		input {
			margin-top: 5px;
			padding-left: 5px;
			outline: none;
			border: 1px solid #000;
		}

		.cwbadge {
		  width: 30px;
		  height: 30px;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		ul li {
			padding-left: 1em;
			text-indent: -.7em;
		}

		ul li:before {
			content: "› "
		}
	</style>
</head>
<body>
	<div class="container-fluid" ng-controller="dataCtrl">
		<div class="row-fluid">
			<div class="span3">
				<div>
					<img src="components/bolddaemon/puffer-small.png"><br>
					<input width="20" placeholder="search.." ng-model="search">
				</div>
				<div id="repos" ng-controller="repoCtrl">
					<h3>Recent Projects</h3>
					<ul>
						<li ng-repeat="repo in repos | filter:search | limitTo:10">
						<a href="{{repo.html_url}}" title="{{repo.description}}">{{repo.name}}</a>
						</li>
					</ul>
				</div>
				<div id="gists" ng-controller="gistCtrl">
					<h3>Recent GISTS</h3>
					<ul>
						<li ng-repeat="gist in gists | filter:search | limitTo:5">
						<a href="{{gist.html_url}}" title="{{gist.description}}">{{gist.description}}</a>
						</li>
					</ul>
				</div>
				<div id="categories">
					<h3>Blog Categories</h3>
					<ul>
						<li ng-repeat="category in categories">
							<a href="#" ng-click="setSearch(category)">{{category.name}}</a>
						</li>
					</ul>
				</div>
				<div ng-controller="cwCtrl">
					<h3>CoderWall</h3>
					<img ng-repeat="badge in badges" class="cwbadge" ng-src={{badge.badge}} alt={{badge.description}}>
				</div>
				<div class="social">
					<h3>Social</h3>
				<a href='https://alpha.app.net/qbit' class='adn-button' target='_blank' data-type='follow' data-width='277' data-height='27' data-user-id='@qbit' data-show-username='1' rel='me'>Follow me on App.net</a><script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='//d2zh9g63fcvyrq.cloudfront.net/adn.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'adn-button-js'));</script>
			</div>
			</div>
			<div class="span9" id="posts">
				<div class="post" ng-repeat="post in posts.items | filter:search | limitTo:15">
					<hr>

					<h3>{{post.published | date:'yyyy-MM-dd hh:mm:ss Z'}}</h3>

					<i>{{post.actor.displayName}}</i>

					<p ng-bind-html-unsafe="post.object.content">{{post.object.content}}</p>

					<div class="attachments" ng-repeat="att in post.object.attachments | filter:search | limitTo:5">
						<div>{{processAttachment(att)}}</div>
						<div ng-if="att.objectType == 'article'">
							<a ng-href="{{att.url}}" ng-bind-html-unsafe="att.displayName">{{att.displayName}}</a>
							<p ng-bind-html-unsafe="att.content">{{att.content}}</p>
							<a ng-href="{{att.url}}">
								<img ng-src="{{att.image.url}}"
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

