<html ng-app>
<head>
	<title>Bold Daemon</title>
	<script src="components/angular/angular.min.js"></script>
	<link href="components/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  
	<script src="components/bolddaemon/bolddaemon.js"></script>
	<link href="components/bolddaemon/bolddaemon.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid" ng-controller="dataCtrl">
		<div class="row-fluid">
			<div class="span2">
				<div>
					<img width="160px" src="components/bolddaemon/puffer.png"><br>
					<input width="20" placeholder="search.." ng-model="search">
				</div>
				<div id="repos" ng-controller="repoCtrl">
					<h3>Recent Projects</h3>
					<ul>
						<li ng-repeat="repo in repos | filter:search | limitTo:10">
						<a href="{{repo.html_url}}" title="{{repo.description}}">{{repo.name}}</a>
						</li>
					</ul>
				</div>
				<div id="categories">
					<h3>Blog Categories</h3>
					<ul>
						<li ng-repeat="category in categories">
							<a href="#" ng-click="setSearch(category)">{{category.name}}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="span8" id="posts">
				<div class="post" ng-repeat="post in posts | filter:search | limitTo:5">
					<h3>{{post.title}}</h3>
					<i>{{post.author}} - {{post.date}}</i>
					<hr>
					<p ng-bind-html-unsafe="post.body">{{post.body}}</p>
				</div>
				<div class="span10" ng-controller="cwCtrl">
					<img ng-repeat="badge in badges" class="badge" ng-src={{badge.badge}} alt={{badge.description}}>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

